flow.json
[
    {
        "id": "df241ac327af880e",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b58b958ed2dda42",
        "type": "tab",
        "label": "Timer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "448b73182a92925c",
        "type": "tab",
        "label": "Automation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dcb190a34f9985d0",
        "type": "tab",
        "label": "PowerView",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0fd18332ac97df78",
        "type": "tab",
        "label": "Hue",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b903e4fc563d501c",
        "type": "subflow",
        "name": "Hue API V2",
        "info": "Interoperate with the Hue Bridge API V2",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 240,
                "wires": [
                    {
                        "id": "07d61ea24d59a251"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1480,
                "y": 400,
                "wires": [
                    {
                        "id": "a60ba77764dccdcf",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1480,
                "y": 480,
                "wires": [
                    {
                        "id": "b750046e7372198f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1270,
                "y": 760,
                "wires": [
                    {
                        "id": "1b1610a871da8230",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ADDRESS",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "KEY",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "TOPIC",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-hue-api-v2",
            "type": "hue-api-v2",
            "version": "4.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Interoperate with the Hue Bridge API V2",
            "keywords": "node-red,philips-hue,hue,hue-api,hue-api-v2",
            "license": "MIT"
        },
        "color": "#D8BFD8",
        "inputLabels": [
            "request"
        ],
        "outputLabels": [
            "controls",
            "metadata",
            "readyState"
        ],
        "icon": "font-awesome/fa-lightbulb-o",
        "status": {
            "x": 1220,
            "y": 840,
            "wires": [
                {
                    "id": "049567b797139205",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "450f4de3c4f73b40",
        "type": "subflow",
        "name": "Hue Automation",
        "info": "Send a series of commands to the\n[Hue Bridge API V2](https://developers.meethue.com/develop/hue-api-v2/).\nThe commands are created from the value of the `${COMMANDS}` subflow\nconfiguration variable.\n\nIn particular, each element of `${COMMANDS}` must contain `topic`,\n`payload`, `method` and `target` members. For example, if an instance\nof this subflow is configured with `${COMMANDS}` set to:\n\n```\n[\n    {\n        \"topic\": \"resource/grouped_light/bad8480b-b404-42d1-a9e7-a4a69f400971\",\n        \"payload\": {\n            \"on\": {\n                \"on\": false\n            }\n        },\n        \"method\": \"PUT\",\n        \"target\": \"send to ground floor hue\"\n    },\n    {\n        \"topic\": \"resource/scene/5d507fb6-89f6-459a-b327-0fffd0c6dc48\",\n        \"payload\": {\n            \"recall\": {\n                \"action\": \"active\"\n            }\n        },\n        \"method\": \"PUT\",\n        \"target\": \"send to ground floor hue\"\n    },\n    {\n        \"topic\": \"resource/scene/48c39b9f-1599-4a5c-b7f6-bad6cad4029a\",\n        \"payload\": {\n            \"recall\": {\n                \"action\": \"active\"\n            }\n        },\n        \"method\": \"PUT\",\n        \"target\": \"send to ground floor hue\"\n    }\n]\n```\n\nthat instance will send messages to turn off the Hue `grouped_light`\nresource whose id is `bad8480b-b404-42d1-a9e7-a4a69f400971` and\nactivate the scenes whose id's are `5d507fb6-89f6-459a-b327-0fffd0c6dc48`\nand `48c39b9f-1599-4a5c-b7f6-bad6cad4029a`. It does so by invoking a\n`link call` node with `msg.target` set to `\"send to ground floor hue\"`.\n\n**Note:** This subflow is theoretically unnecessary since one could,\nin principle, define any desired lighting state as an individual scene\nbelonging to a particular room or zone using the Hue mobile app. In that\ncase, each instance of this subflow would correspond to a single command\nto activate a particular such scene. This subflow exists, in part, as a\nwork-around for well-known limitations in the Hue bridge in regards to\nthe number of devices per room or zone. In addition, this subflow\nallows for setting the state of combinations of lighting devices without\ncluttering up the view presented to users of the Hue app with lots of\nzones and scenes which would exist solely for the purposes of these\nNode-RED flows but which would rarely, if ever, make sense to activate\nmanually. Finally, it also provides a bit of future-proofing for\nchanges in the Hue API since Philips sometimes exposes new features in\nthe bridge API before they can be accessed directly in the mobile app.",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "3aead3d3f53c86d6"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "COMMANDS",
                "type": "json",
                "value": "[]",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "json",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-hue-lighting",
            "type": "hue-lighting",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Send messages implementing a particular combination of Hue lighting groups and scenes",
            "keywords": "node-red,philips-hue,hue,hue-api,hue-api-v2",
            "license": "MIT"
        },
        "color": "#D8BFD8",
        "icon": "font-awesome/fa-cogs",
        "status": {
            "x": 740,
            "y": 60,
            "wires": [
                {
                    "id": "1fed66fe72fa7562",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "699fdca4e881f8ec",
        "type": "subflow",
        "name": "Get PowerView Metadata",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "02eb116aa3a7efad"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1100,
                "y": 60,
                "wires": [
                    {
                        "id": "ca455aa5752d94d8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ADDRESS",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "URI",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "TARGET",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "DATA",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "TOPIC",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-get-powerview-metadata",
            "type": "get-powerview-metadata",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Get metadata for rooms or scenes from a PowerView hub",
            "keywords": "node-red,hunter-douglas,powerview",
            "license": "MIT"
        },
        "color": "#C7E9C0",
        "icon": "font-awesome/fa-align-justify"
    },
    {
        "id": "eaaca1e226cc9251",
        "type": "group",
        "z": "dcb190a34f9985d0",
        "name": "send a message to the powerview hub",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "70e42b6637f4c865",
            "413305fe8cf8bc16",
            "3b9aea255e25c86d",
            "450c11f088a3f9ee",
            "a250d71416af8250",
            "e0ad652b11e93160",
            "d27eec8b029c5bd5",
            "9f3e418cab152ae3",
            "1b3072d1d7c8560b"
        ],
        "x": 14,
        "y": 119,
        "w": 1172,
        "h": 242,
        "info": "Send API command messages to a _PowerView_ hub at a rate of no more than\none per second."
    },
    {
        "id": "74348749d23b9082",
        "type": "group",
        "z": "dcb190a34f9985d0",
        "name": "populate the dashboard using metadata from the powerview hub",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "57c39b659f421513",
            "02eec7feccc1567d",
            "07a492e2d29b5dd3",
            "eb7123132bce19c7",
            "de8273a5bd63e29f",
            "ef07dd563fbd8f3f",
            "74c9401c93a5c79f",
            "0bbc02279885e842"
        ],
        "x": 14,
        "y": 479,
        "w": 1172,
        "h": 162,
        "info": "Dynamically create dashboard buttons corresponding to each scene\ndiscovered by querying a _PowerView_ hub."
    },
    {
        "id": "1858ee0bbe9b4418",
        "type": "group",
        "z": "0b58b958ed2dda42",
        "name": "send daily events",
        "style": {
            "label": true,
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "color": "#ffffff"
        },
        "nodes": [
            "b8e996d829493cf7",
            "aea41299ec309be7",
            "2172861d6eca2d1c",
            "ec4c72ab0b8b53ad",
            "cbcdf85a73052db5",
            "b42f1fba69cb70e0",
            "bf9f3e514e81d58c",
            "46ac71815281ccea"
        ],
        "x": 14,
        "y": 119,
        "w": 892,
        "h": 202,
        "info": "Send daily events:\n\n1. Once at start up\n2. Each time a user changes the value of the _Bedtime_ dashboard\n   control\n3. Every morning at 1:01AM\n\nThe events sent periodically by this group of nodes are:\n\n| `msg.topic`        | `msg.payload`                                                                                             | Description                                                                           |\n|--------------------|-----------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------|\n| `settings/bedtime` | Value selected by a user using the _Bedtime_ control on the dashboard                                     | Approximate hour at which \"night mode\" should begin each day                          |\n| `daily/theme`      | The _theme_string for the current day                                                                     | See the information for the `function` node named `theme` for more details            |\n| `daily/sunrise`    | Timestamp at which the sun rises on the current day                                                       | See the information for the `function` node named `sunrise | sunset` for more details |\n| `daily/sunset`     | Timestamp at which the sun sets on the current day                                                        | See the information for the `function` node named `sunrise | sunset` for more details |\n| `daily/bedtime`    | A timestamp that varies slightly each day, based on the value of the most recent `settings/bedtime` event | See the information for the `function` node named `bedtime` for more details          |\n\n**Note:** All three of the `function` nodes, `theme`, `sunrise | sunset`\nand `bedtime`, are downstream of a `join` node even though only one\nof them (`bedtime`) directly depends on both inputs to the `join`. This\nis deliberate. Blocking the `theme` and `sunrise | sunset` functions\nuntil after at least one message has been received from a `mqtt in`\nnode ensures that they will not attempt to send messages before the\nconnection to the MQTT broker is ready. This assumes that all of the\n`mqtt in` and `mqtt out` nodes on this flow use the same broker\nconfiguration node.\n\nThe alternative would be to add a `status` node for the relevant\n`mqtt out` node and another `join` node to synchronize the `function`\nnodes with the connection state."
    },
    {
        "id": "1afeb43be3175917",
        "type": "group",
        "z": "0b58b958ed2dda42",
        "name": "send timer events",
        "style": {
            "label": true,
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "color": "#ffffff"
        },
        "nodes": [
            "ce36e830ccb196af",
            "449c4612546c24a3",
            "795ddbf1ece0c9e6",
            "dde26fd5b0242b48",
            "91c56df5c885cf9f",
            "f5730fdb6bc0272f",
            "f901e2f89786bb1d"
        ],
        "x": 14,
        "y": 339,
        "w": 872,
        "h": 162,
        "info": "Send timer events over the course of each day:\n\n1. Once at start up\n2. At the start of each time of day as calculated by the `function` node\n   named `time`\n\nEach such message will have `msg.topic` set to `timer/time` and\n`msg.payload` set to one of the _time_ values:\n\n- `morning`\n- `midday`\n- `afternoon`\n- `evening`\n- `night`\n\nAgain, see the documentation for the `function` node named `time` for\nmore details."
    },
    {
        "id": "70dad43254c6a458",
        "type": "group",
        "z": "b903e4fc563d501c",
        "name": "send messages to the hue bridge at a rate of no more than one per second",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "437ca2e5667c0391",
            "3b556984858fe751",
            "ccb8f8c4fd3333af",
            "a1a4ef6fbcea1cd4",
            "2dd6e02f993c8f04",
            "07d61ea24d59a251",
            "bbe59505ef8e9e1f",
            "90fdb9a186a95e61",
            "c9871eceb8d3ea77",
            "579603985dd5ba84",
            "7a4ba2d58e8e1f70"
        ],
        "x": 94,
        "y": 159,
        "w": 1292,
        "h": 182
    },
    {
        "id": "8669233b567d0ffd",
        "type": "group",
        "z": "0fd18332ac97df78",
        "name": "ground floor hue",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "168247b3760f4731",
            "92ec777b2c9dab97",
            "a6c65b71fb515b1e",
            "312ab67152201b30",
            "931a6bd2a9326bc9",
            "fbd24d6194c16d28",
            "ad2e21f102e390a2"
        ],
        "env": [
            {
                "name": "ADDRESS",
                "value": "GROUND_FLOOR_HUE_ADDRESS",
                "type": "env"
            },
            {
                "name": "KEY",
                "value": "GROUND_FLOOR_HUE_KEY",
                "type": "env"
            },
            {
                "name": "TOPIC",
                "value": "hue/ground-floor",
                "type": "str"
            }
        ],
        "x": 14,
        "y": 119,
        "w": 972,
        "h": 262
    },
    {
        "id": "eec9d001159e45dc",
        "type": "group",
        "z": "b903e4fc563d501c",
        "name": "subscribe to events sent by the hue bridge, forward them to the dashboard and mqtt",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "7e0cf896d463421a",
            "4ab229c77e4ce0fe",
            "5e36497f30cb3265",
            "5e338d73bb5c33fb",
            "964ed66cfe05da8b",
            "f7841898977deb1b",
            "a60ba77764dccdcf",
            "b750046e7372198f",
            "153449edfaf38a67",
            "bbf1e13fabc2641b",
            "7e48f675042d8b93",
            "5ed6402bdc19dd70",
            "d3e5044fe363855b",
            "80bbf467c351320f",
            "12f058cdadbb39ce",
            "5a1b87c5d08fa5d4",
            "6ce6327771b66664",
            "f564e0e7691828da",
            "d35cf3e04888b6b9"
        ],
        "x": 14,
        "y": 359,
        "w": 1392,
        "h": 302
    },
    {
        "id": "2828b8557c781733",
        "type": "group",
        "z": "b903e4fc563d501c",
        "name": "EventSource readyState",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "a18432dc72ef7481",
            "88fdf97c8453fefa",
            "f1c617ee84221e5f",
            "ca9146b1992e5f35",
            "789bb9be09a90181",
            "922a1e8c5440e399",
            "85a47c35d4b95b8e",
            "049567b797139205",
            "e0c09fd7a883718c",
            "1b1610a871da8230",
            "2fe7c19fa52da3b7",
            "094b3e2d8dd632e0"
        ],
        "x": 14,
        "y": 679,
        "w": 1172,
        "h": 242
    },
    {
        "id": "4cb1a57dd2d304af",
        "type": "group",
        "z": "0fd18332ac97df78",
        "name": "basement hue",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "1fa12506e964418e",
            "a85248aa620b8480",
            "603def2442931ab8",
            "8dd90b562d6eb844",
            "aede967dabee6adc",
            "0c55fa3270a1a251",
            "25d4e7cf8ec7c009"
        ],
        "env": [
            {
                "name": "ADDRESS",
                "value": "BASEMENT_HUE_ADDRESS",
                "type": "env"
            },
            {
                "name": "KEY",
                "value": "BASEMENT_HUE_KEY",
                "type": "env"
            },
            {
                "name": "TOPIC",
                "value": "hue/basement",
                "type": "str"
            }
        ],
        "x": 14,
        "y": 399,
        "w": 912,
        "h": 262
    },
    {
        "id": "878c5819aeaae260",
        "type": "group",
        "z": "b903e4fc563d501c",
        "name": "subscribe to hue commands sent as mqtt messages",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "878b32d9e6225a1c",
            "f9023663e78ba591",
            "7ba75af758c2013d",
            "9c4ced2e27936fea",
            "16d6f0ca8acf69c4",
            "786ac487aac960f8"
        ],
        "x": 14,
        "y": 939,
        "w": 1292,
        "h": 82
    },
    {
        "id": "9cf0457b813ca743",
        "type": "group",
        "z": "dcb190a34f9985d0",
        "name": "activate a powerview scene",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "aed6009fd524f819",
            "34eaa776ddc24669",
            "2bf099ec37e84bbc",
            "9b5a655543db6ec5"
        ],
        "x": 14,
        "y": 379,
        "w": 852,
        "h": 82,
        "info": "Dynamically create dashboard buttons corresponding to each scene\ndiscovered by querying a _PowerView_ hub."
    },
    {
        "id": "09d28341f4c50b5b",
        "type": "group",
        "z": "df241ac327af880e",
        "name": "monitoring",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "dedc6f621fe92832",
            "5c5154d5bead461b",
            "fa34b76e712ef007",
            "9130997453dbb01b",
            "9dbd2d38d6ceec1c",
            "fd0c567c69283354",
            "4001688ace8380e3",
            "e5d69dd29b21c14c",
            "518d5b3b737fb2b7",
            "1c34f9e60db8ac44",
            "6293131f50765462",
            "18d43f9fefe9624c",
            "0b56b8c38bfb3aba"
        ],
        "x": 614,
        "y": 119,
        "w": 492,
        "h": 322
    },
    {
        "id": "06bdd60cce319536",
        "type": "group",
        "z": "df241ac327af880e",
        "name": "subroutines",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "a7cf1643a9332de2",
            "3bf82acf8b05bc31",
            "1af506ce07ba6b16",
            "43dededbad742ab8",
            "749b3deee816e422",
            "b999ac0934b6f741",
            "7a0af6f4a758942f"
        ],
        "x": 14,
        "y": 339,
        "w": 572,
        "h": 142
    },
    {
        "id": "60e4d1c056ed3a0c",
        "type": "group",
        "z": "448b73182a92925c",
        "name": "lighting timer automation",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "aae17e5a30471de5",
            "0e592700939a92aa",
            "ab22f57d983c0a67",
            "870608ff910feb60",
            "353cfc8157d414e1",
            "1cb0a0826e19ac25",
            "8b2870e325e61ea1",
            "541a0eff9f0235b7",
            "4c3ffaa9eed2fd35",
            "7c026a08d935f006",
            "3ee797fa67f9a62f",
            "36a9058ec89dc970",
            "4f71fe46ad187ae6",
            "48e8d9fce3eab7a3",
            "650af68abc81e272",
            "788002ed81a9f5eb"
        ],
        "x": 14,
        "y": 299,
        "w": 1272,
        "h": 282
    },
    {
        "id": "414ede3ad60aa4f3",
        "type": "group",
        "z": "df241ac327af880e",
        "name": "(re-) generate dynamically created controls at start and each time the Refresh Controls button is pressed",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "ec72f5d7972d5730",
            "20ea1d5e7618a150",
            "bceded3979bc03fa",
            "94511d26864a6541",
            "d2c7d3c26f6a94c9"
        ],
        "x": 14,
        "y": 19,
        "w": 1112,
        "h": 82
    },
    {
        "id": "dda52c5106fb8861",
        "type": "group",
        "z": "df241ac327af880e",
        "name": "settings",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "6c1bf6f4cbe33db3",
            "c7aad35be6d90342",
            "095ea8afc684110d",
            "42bc590b4062807a",
            "0b33271ac14c1ff6",
            "fc2ee8d91d1c42ab",
            "8df7e77f86099c14",
            "9e8493371584e638",
            "621de2937093648a"
        ],
        "x": 14,
        "y": 119,
        "w": 572,
        "h": 202
    },
    {
        "id": "5e4f33ee9bb4435b",
        "type": "group",
        "z": "448b73182a92925c",
        "name": "window shades timer automation",
        "style": {
            "stroke": "none",
            "fill": "#ffffff",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "37bac7a6b658ade4",
            "6a9ac472018c38ea",
            "c8c9c1f0d8b62902",
            "9e961b1409432775",
            "db4f7c2c93cd8f30",
            "ec26adec2aa94c40",
            "f517b9c953846565",
            "92c3731c8de659b7",
            "8157178701101806",
            "0862949d83e8b2e4",
            "f16f4fda7c0b0f7a",
            "6184212dd8e32e40",
            "0dd52d2dccf3d476"
        ],
        "x": 14,
        "y": 19,
        "w": 1332,
        "h": 262,
        "info": "Route `automation/trigger` event messages to invoke the appropriate\nwindow covering device control API's."
    },
    {
        "id": "85a47c35d4b95b8e",
        "type": "junction",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "x": 860,
        "y": 800,
        "wires": [
            [
                "049567b797139205",
                "e0c09fd7a883718c"
            ]
        ]
    },
    {
        "id": "cebfc098dc83e835",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7a427ced50896e29",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "fa-dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a06ff030ec526ee1",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "deep-purple",
                "accents": "deep-purple",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Automation",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "MM/DD/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f1c37b89696920be",
        "type": "ui_tab",
        "name": "Metadata",
        "icon": "fa-info",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bad6261ac75df85d",
        "type": "ui_group",
        "name": "Window Shades",
        "tab": "7a427ced50896e29",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9c75181f2c63c679",
        "type": "ui_group",
        "name": "Shades",
        "tab": "f1c37b89696920be",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ec2b1aad4d84307c",
        "type": "ui_group",
        "name": "Settings",
        "tab": "7a427ced50896e29",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "62fb9b437a9f6bcf",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "7a427ced50896e29",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a466343d83180c88",
        "type": "tls-config",
        "z": "b903e4fc563d501c",
        "name": "ignore certificate",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "6865fdd160367b37",
        "type": "ui_group",
        "name": "Ground Floor",
        "tab": "7a427ced50896e29",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "572765d576e80a9f",
        "type": "ui_group",
        "name": "Ground Floor",
        "tab": "f1c37b89696920be",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2b9d72b934dccd62",
        "type": "ui_group",
        "name": "Basement",
        "tab": "7a427ced50896e29",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "b92e09ec548c4465",
        "type": "ui_group",
        "name": "Basement",
        "tab": "f1c37b89696920be",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "437ca2e5667c0391",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'https://' & $env('ADDRESS') & '/clip/v2/' & topic",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"hue-application-key\": $env('KEY')\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "ccb8f8c4fd3333af"
            ]
        ]
    },
    {
        "id": "3b556984858fe751",
        "type": "link out",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "response",
        "mode": "return",
        "links": [],
        "x": 1120,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "ccb8f8c4fd3333af",
        "type": "http request",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "a466343d83180c88",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 240,
        "wires": [
            [
                "a1a4ef6fbcea1cd4",
                "2dd6e02f993c8f04"
            ]
        ]
    },
    {
        "id": "a1a4ef6fbcea1cd4",
        "type": "function",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "validate",
        "func": "if (!Number.isInteger(msg.statusCode)) {\n\n    return msg\n\n}\n\nif ((msg.statusCode < 200) || (msg.statusCode >= 300)) {\n\n    return msg\n\n}\n\nif (!Object.prototype.hasOwnProperty.call(msg.payload, 'data')) {\n\n    return msg\n\n}\n\n// should check msg.errors but that is untenable due to defects in the Hue Bridge API\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "bbe59505ef8e9e1f",
                "90fdb9a186a95e61"
            ]
        ]
    },
    {
        "id": "2dd6e02f993c8f04",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 200,
        "wires": [
            [
                "3b556984858fe751"
            ]
        ]
    },
    {
        "id": "07d61ea24d59a251",
        "type": "delay",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "437ca2e5667c0391"
            ]
        ]
    },
    {
        "id": "7e0cf896d463421a",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"url\":\"https://\" & $env('ADDRESS') & \"/eventstream/clip/v2\",\t   \"initDict\":{\t       \"withCredentials\": false,\t       \"https\": { \"rejectUnauthorized\":false },\t       \"headers\": { \"hue-application-key\": $env('KEY') }\t   }\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "153449edfaf38a67"
            ]
        ]
    },
    {
        "id": "4ab229c77e4ce0fe",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "${TOPIC}/onopen",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 560,
        "wires": [
            [
                "964ed66cfe05da8b"
            ]
        ]
    },
    {
        "id": "5e36497f30cb3265",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "${TOPIC}/onerror",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 620,
        "wires": [
            [
                "964ed66cfe05da8b"
            ]
        ]
    },
    {
        "id": "5e338d73bb5c33fb",
        "type": "function",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "persist data",
        "func": "const TOPIC = env.get('TOPIC') || 'hue'\nconst resources = flow.get('resources')\nconst data = JSON.parse(msg.payload.data)\n\nconst messages = []\n\nfor (let datum of data) {\n\n    for (let value of datum.data) {\n\n        const category = resources[value.type] || {}\n        let resource = category[value.id] || {}\n\n        switch (datum.type) {\n\n            case 'add':\n            case 'update':\n\n                for (let property in value) {\n\n                    resource[property] = value[property]\n                }\n\n                break\n\n            case 'delete':\n\n                delete category[value.id]\n                break\n\n            default:\n\n                node.warn(JSON.stringify(datum, undefined, 1))\n                break\n\n        }\n\n        category[value.id] = resource\n        resources[value.type] = category\n\n        const message = RED.util.cloneMessage(msg)\n\n        message.payload = resource\n        message.topic = TOPIC + '/resource/' + value.type + '/' + value.id\n        messages.push(message)\n\n    }\n}\n\nflow.set('resources', resources)\n\nmsg.payload = resources\n\nreturn [\n    msg,\n    messages\n]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 500,
        "wires": [
            [
                "f7841898977deb1b"
            ],
            [
                "964ed66cfe05da8b"
            ]
        ],
        "outputLabels": [
            "resources",
            "mqtt"
        ]
    },
    {
        "id": "964ed66cfe05da8b",
        "type": "rbe",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "bbf1e13fabc2641b"
            ]
        ]
    },
    {
        "id": "f7841898977deb1b",
        "type": "function",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "model",
        "func": "const model = []\n\nfunction findOwner(grouped_light) {\n\n    const groups = msg.payload[grouped_light.owner.rtype]\n\n    if (Object.prototype.hasOwnProperty.call(groups, grouped_light.owner.rid)) {\n\n        return groups[grouped_light.owner.rid]\n\n    }\n\n    throw 'no container found for grouped_light ' + grouped_light.id\n\n}\n\nfunction findScenes(owner) {\n\n    const scenes = []\n\n    for (let sceneId in msg.payload.scene) {\n\n        const scene = msg.payload.scene[sceneId]\n\n        if (scene.group.rid == owner.id) {\n\n            scenes.push(scene)\n\n        }\n    }\n\n    return scenes.sort((a, b) => {\n        return a.metadata.name.localeCompare(b.metadata.name)\n    })\n\n}\n\nfor (let grouped_light_id in msg.payload.grouped_light) {\n\n    const grouped_light = msg.payload.grouped_light[grouped_light_id]\n    const owner = findOwner(grouped_light)\n    const scenes = findScenes(owner)\n\n    model.push({\n        grouped_light: grouped_light,\n        owner: owner,\n        scenes: scenes,\n        name: (owner.metadata ? owner.metadata.name : 'All Lights')\n    })\n\n}\n\nmsg.payload = model.sort((a, b) => {\n    return a.name.localeCompare(b.name)\n})\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "d35cf3e04888b6b9"
            ]
        ]
    },
    {
        "id": "a60ba77764dccdcf",
        "type": "template",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "controls",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<div style=\"padding: 1em; text-align: center;\">\n    <div ng-repeat=\"model in msg.payload\">\n        <hr ng-if=\"$index > 0\">\n        <md-switch ng-value=\"model.grouped_light.on.on\" ng-model=\"model.grouped_light.on.on\"\n            ng-change=\"send({ topic: 'resource/grouped_light/' + model.grouped_light.id, payload: { on: { on:model.grouped_light.on.on } }, method: 'PUT' })\">\n            {{model.name}}\n        </md-switch>\n        <md-button ng-repeat=\"scene in model.scenes\" style=\"display: inline-block; margin: 0;\"\n            ng-click=\"send({topic: 'resource/scene/' + scene.id, payload: {recall:{action:'dynamic_palette'}}, method: 'PUT'})\">\n            {{scene.metadata.name}}\n        </md-button>\n    </div>\n</div>",
        "output": "str",
        "x": 1320,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b750046e7372198f",
        "type": "template",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "metadata",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<div style=\"padding: 1em;\">\n    <div ng-repeat=\"model in msg.payload\">\n        <hr ng-if=\"$index > 0\">\n        <dl>\n            <dt>{{model.name}}</dt>\n            <dd>\n                {{model.grouped_light.id}}\n                <dl ng-repeat=\"scene in model.scenes\">\n                    <dt>{{scene.metadata.name}}</dt>\n                    <dd>{{scene.id}}</dd>\n                </dl>\n            </dd>\n        </dl>\n    </div>\n</div>",
        "output": "str",
        "x": 1320,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d3e5044fe363855b",
        "type": "function",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "format event",
        "func": "// clear out cached resources\nflow.set('resources', {})\n\nconst updates = [{ type: 'update', data: msg.payload }]\nconst event = { type: 'message', data: JSON.stringify(updates) }\n\nmsg.payload = event\nmsg.topic = 'message'\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 460,
        "wires": [
            [
                "5e338d73bb5c33fb"
            ]
        ],
        "outputLabels": [
            "ready"
        ]
    },
    {
        "id": "80bbf467c351320f",
        "type": "link call",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "",
        "links": [
            "7a4ba2d58e8e1f70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 520,
        "y": 460,
        "wires": [
            [
                "d3e5044fe363855b"
            ]
        ]
    },
    {
        "id": "12f058cdadbb39ce",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "80bbf467c351320f"
            ]
        ]
    },
    {
        "id": "2fe7c19fa52da3b7",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "$number(status.text)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(status.text)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 800,
        "wires": [
            [
                "a18432dc72ef7481"
            ]
        ]
    },
    {
        "id": "a18432dc72ef7481",
        "type": "switch",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 510,
        "y": 800,
        "wires": [
            [
                "88fdf97c8453fefa"
            ],
            [
                "f1c617ee84221e5f"
            ],
            [
                "ca9146b1992e5f35"
            ],
            [
                "789bb9be09a90181"
            ],
            [
                "922a1e8c5440e399"
            ]
        ],
        "info": "Select the string representation of `EventSource.readyState` based on\nits numeric value."
    },
    {
        "id": "88fdf97c8453fefa",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "Unitialized",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Unitialized",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "icon",
                "pt": "msg",
                "to": "<i class=\"fa fa-circle-o\"></i>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 720,
        "wires": [
            [
                "85a47c35d4b95b8e"
            ]
        ]
    },
    {
        "id": "f1c617ee84221e5f",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "Connecting",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Connecting",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "icon",
                "pt": "msg",
                "to": "<i class=\"fa fa-circle-o-notch fa-spin fa-fw\"></i>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "yellow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 760,
        "wires": [
            [
                "85a47c35d4b95b8e"
            ]
        ],
        "info": "Set `msg.payload`, `msg.icon` and `msg.color` corresponding to\nthe `EventSource.readyState` value 0, (_connecting_)."
    },
    {
        "id": "ca9146b1992e5f35",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "Connected",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Connected",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "icon",
                "pt": "msg",
                "to": "<i class=\"fa fa-circle\"></i>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 800,
        "wires": [
            [
                "85a47c35d4b95b8e"
            ]
        ],
        "info": "Set `msg.payload`, `msg.icon` and `msg.color` corresponding to\nthe `EventSource.readyState` value 1, (_connected_)."
    },
    {
        "id": "789bb9be09a90181",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "Failed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Failed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "icon",
                "pt": "msg",
                "to": "<i class=\"fa fa-circle-o\"></i>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 840,
        "wires": [
            [
                "85a47c35d4b95b8e"
            ]
        ],
        "info": "Set `msg.payload`, `msg.icon` and `msg.color` corresponding to\nthe `EventSource.readyState` value 2, (_failed_)."
    },
    {
        "id": "922a1e8c5440e399",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "Invalid",
        "rules": [
            {
                "t": "set",
                "p": "icon",
                "pt": "msg",
                "to": "<i class=\"fa fa-ban\"></i>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 880,
        "wires": [
            [
                "85a47c35d4b95b8e"
            ]
        ],
        "info": "Set `msg.payload`, `msg.icon` and `msg.color` corresponding to any\nunsupported value of `EventSource.readyState`."
    },
    {
        "id": "049567b797139205",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"text\":payload,\t   \"shape\":status.shape,\t   \"fill\":color\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 840,
        "wires": [
            []
        ],
        "info": "Convert the string representation of the `EventSource.readyState` back\ninto this subflow's status."
    },
    {
        "id": "e0c09fd7a883718c",
        "type": "template",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "html",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<div style=\"margin: 0; position: relative; width: 100%; height: 100%;\">\n    <div style=\"margin: 0; position: absolute; top: 50%; transform: translateY(-50%); width: 100%;\">\n        <table style=\"width: 100%;\">\n            <tr>\n                <td style=\"width: 15%; padding: 0 0 0 1em; color: {{color}}\">{{{icon}}}</td>\n                <td>{{payload}}</td>\n            </tr>\n        </table>\n    </div>\n</div>",
        "output": "str",
        "x": 950,
        "y": 760,
        "wires": [
            [
                "1b1610a871da8230"
            ]
        ],
        "info": "Set `msg.payload`, `msg.icon` and `msg.color` corresponding to\nthe `EventSource.readyState` value -1, (_unitialized_)."
    },
    {
        "id": "1b1610a871da8230",
        "type": "delay",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1090,
        "y": 760,
        "wires": [
            []
        ],
        "info": "Limit the rate at which state-change messages are sent, as an aid in\ndebugging."
    },
    {
        "id": "153449edfaf38a67",
        "type": "EventSource",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "",
        "x": 690,
        "y": 560,
        "wires": [
            [
                "5e338d73bb5c33fb"
            ],
            [
                "4ab229c77e4ce0fe"
            ],
            [
                "5e36497f30cb3265"
            ]
        ]
    },
    {
        "id": "094b3e2d8dd632e0",
        "type": "status",
        "z": "b903e4fc563d501c",
        "g": "2828b8557c781733",
        "name": "status: Event Source",
        "scope": [
            "153449edfaf38a67"
        ],
        "x": 130,
        "y": 800,
        "wires": [
            [
                "2fe7c19fa52da3b7"
            ]
        ]
    },
    {
        "id": "bbf1e13fabc2641b",
        "type": "mqtt out",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cebfc098dc83e835",
        "x": 1170,
        "y": 560,
        "wires": []
    },
    {
        "id": "7e48f675042d8b93",
        "type": "mqtt in",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "",
        "topic": "controls/refresh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "5ed6402bdc19dd70"
            ]
        ]
    },
    {
        "id": "f9023663e78ba591",
        "type": "status",
        "z": "b903e4fc563d501c",
        "g": "878c5819aeaae260",
        "name": "status: mqtt in",
        "scope": [
            "9c4ced2e27936fea"
        ],
        "x": 110,
        "y": 980,
        "wires": [
            [
                "878b32d9e6225a1c"
            ]
        ]
    },
    {
        "id": "878b32d9e6225a1c",
        "type": "switch",
        "z": "b903e4fc563d501c",
        "g": "878c5819aeaae260",
        "name": "node-red:common.status.connected",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "node-red:common.status.connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 980,
        "wires": [
            [
                "7ba75af758c2013d"
            ]
        ]
    },
    {
        "id": "7ba75af758c2013d",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "878c5819aeaae260",
        "name": "subscribe",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[\t   {\t       \"topic\": 'put/' & $env('TOPIC') & '/resource/+/+',\t       \"qos\": 2\t   }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 980,
        "wires": [
            [
                "9c4ced2e27936fea"
            ]
        ]
    },
    {
        "id": "9c4ced2e27936fea",
        "type": "mqtt in",
        "z": "b903e4fc563d501c",
        "g": "878c5819aeaae260",
        "name": "put/${TOPIC}/resource/+/+",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 750,
        "y": 980,
        "wires": [
            [
                "16d6f0ca8acf69c4"
            ]
        ]
    },
    {
        "id": "16d6f0ca8acf69c4",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "878c5819aeaae260",
        "name": "set command properties",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$substringAfter(topic, 'put/' & $env('TOPIC') & '/')\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 980,
        "wires": [
            [
                "786ac487aac960f8"
            ]
        ]
    },
    {
        "id": "786ac487aac960f8",
        "type": "link call",
        "z": "b903e4fc563d501c",
        "g": "878c5819aeaae260",
        "name": "",
        "links": [
            "7a4ba2d58e8e1f70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1200,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "429c5d451e73036e",
        "type": "comment",
        "z": "b903e4fc563d501c",
        "name": "https://github.com/parasaurolophus/create-hue-application-key",
        "info": "",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "4618e940bf9ae3a5",
        "type": "comment",
        "z": "b903e4fc563d501c",
        "name": "https://developers.meethue.com/develop/hue-api-v2/",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "5ed6402bdc19dd70",
        "type": "change",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "close",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "153449edfaf38a67"
            ]
        ]
    },
    {
        "id": "5a1b87c5d08fa5d4",
        "type": "delay",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 460,
        "wires": [
            [
                "12f058cdadbb39ce"
            ]
        ]
    },
    {
        "id": "5a5dcfc92a3d649f",
        "type": "comment",
        "z": "b903e4fc563d501c",
        "name": "https://www.npmjs.com/package/@parasaurolophus/node-red-eventsource",
        "info": "",
        "x": 300,
        "y": 120,
        "wires": []
    },
    {
        "id": "90fdb9a186a95e61",
        "type": "function",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "stringify",
        "func": "msg.payload = JSON.stringify(msg, undefined, 1)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "c9871eceb8d3ea77"
            ]
        ],
        "info": "Pretty-print `msg.payload`."
    },
    {
        "id": "c9871eceb8d3ea77",
        "type": "template",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "<pre>",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<div>\n    <pre>{{payload}}</pre>\n</div>",
        "output": "str",
        "x": 1150,
        "y": 260,
        "wires": [
            [
                "579603985dd5ba84"
            ]
        ],
        "info": "Wrap `msg.payload` in HTML."
    },
    {
        "id": "579603985dd5ba84",
        "type": "ui_toast",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1290,
        "y": 260,
        "wires": [
            []
        ],
        "info": "Display the HTML snippet as a \"toast\" on the dashboard."
    },
    {
        "id": "bbe59505ef8e9e1f",
        "type": "debug",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "hue error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "6ce6327771b66664",
        "type": "complete",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "format event",
        "scope": [
            "d3e5044fe363855b"
        ],
        "uncaught": false,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "7e0cf896d463421a"
            ]
        ]
    },
    {
        "id": "f564e0e7691828da",
        "type": "complete",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "close",
        "scope": [
            "5ed6402bdc19dd70"
        ],
        "uncaught": false,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "5a1b87c5d08fa5d4"
            ]
        ]
    },
    {
        "id": "7a4ba2d58e8e1f70",
        "type": "link in",
        "z": "b903e4fc563d501c",
        "g": "70dad43254c6a458",
        "name": "send to bridge",
        "links": [],
        "x": 190,
        "y": 280,
        "wires": [
            [
                "07d61ea24d59a251"
            ]
        ],
        "l": true
    },
    {
        "id": "d35cf3e04888b6b9",
        "type": "rbe",
        "z": "b903e4fc563d501c",
        "g": "eec9d001159e45dc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1170,
        "y": 440,
        "wires": [
            [
                "b750046e7372198f",
                "a60ba77764dccdcf"
            ]
        ]
    },
    {
        "id": "3aead3d3f53c86d6",
        "type": "function",
        "z": "450f4de3c4f73b40",
        "name": "commands",
        "func": "const messages = []\n\nfor (let command of env.get('COMMANDS')) {\n\n    const message = RED.util.cloneMessage(msg)\n\n    message.payload = command.payload\n    message.topic = command.topic\n    message.method = command.method\n    message.target = command.target\n    messages.push(message)\n\n}\n\nreturn [messages]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 60,
        "wires": [
            [
                "2cc17430425dda9f"
            ]
        ]
    },
    {
        "id": "2cc17430425dda9f",
        "type": "link call",
        "z": "450f4de3c4f73b40",
        "name": "Hue API V2",
        "links": [],
        "linkType": "dynamic",
        "timeout": "30",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "ce6b2ab301f750ee"
            ]
        ]
    },
    {
        "id": "ce6b2ab301f750ee",
        "type": "join",
        "z": "450f4de3c4f73b40",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "1fed66fe72fa7562"
            ]
        ]
    },
    {
        "id": "1fed66fe72fa7562",
        "type": "change",
        "z": "450f4de3c4f73b40",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"text\":$count($keys(payload)),\t   \"shape\":\"dot\",\t   \"fill\":\"blue\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "04b2b788b1d86771",
        "type": "comment",
        "z": "450f4de3c4f73b40",
        "name": "interoperate with \"Hue API V2\" subflow",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "02eb116aa3a7efad",
        "type": "change",
        "z": "699fdca4e881f8ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'http://' & $env('ADDRESS') & $env('URI')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "TARGET",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "a2ce2f10f0cbc3b4"
            ]
        ],
        "info": "Set `msg.url` to request the list of scenes from the PowerView hub."
    },
    {
        "id": "a2ce2f10f0cbc3b4",
        "type": "link call",
        "z": "699fdca4e881f8ec",
        "name": "",
        "links": [],
        "linkType": "dynamic",
        "timeout": "30",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "4597056c8e33d1d2"
            ]
        ]
    },
    {
        "id": "4597056c8e33d1d2",
        "type": "change",
        "z": "699fdca4e881f8ec",
        "name": "data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup(payload, $env('DATA'))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "a4b2cb7314b93cec"
            ]
        ],
        "info": "Set `msg.payload` to `msg.payload.sceneData`."
    },
    {
        "id": "a4b2cb7314b93cec",
        "type": "split",
        "z": "699fdca4e881f8ec",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "e89d138990a2c571"
            ]
        ],
        "info": "Divide array into a sequence of individual messages."
    },
    {
        "id": "e89d138990a2c571",
        "type": "change",
        "z": "699fdca4e881f8ec",
        "name": "decode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":$base64decode(payload.name),\"id\":payload.id,\"roomId\":payload.roomId}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 60,
        "wires": [
            [
                "09ed6328f31946db"
            ]
        ],
        "info": "Extract the salient metadata into `msg.payload`."
    },
    {
        "id": "09ed6328f31946db",
        "type": "join",
        "z": "699fdca4e881f8ec",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 850,
        "y": 60,
        "wires": [
            [
                "ca455aa5752d94d8"
            ]
        ],
        "info": "Join previously split messages back into an array."
    },
    {
        "id": "ca455aa5752d94d8",
        "type": "change",
        "z": "699fdca4e881f8ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TOPIC",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 60,
        "wires": [
            []
        ],
        "info": "Set `msg.topic` to `scenes`."
    },
    {
        "id": "dedc6f621fe92832",
        "type": "mqtt in",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "name": "",
        "topic": "daily/theme",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "fd0c567c69283354"
            ]
        ]
    },
    {
        "id": "5c5154d5bead461b",
        "type": "mqtt in",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "name": "",
        "topic": "daily/sunrise",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 220,
        "wires": [
            [
                "6293131f50765462"
            ]
        ]
    },
    {
        "id": "fa34b76e712ef007",
        "type": "mqtt in",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "name": "",
        "topic": "daily/sunset",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "18d43f9fefe9624c"
            ]
        ]
    },
    {
        "id": "9130997453dbb01b",
        "type": "mqtt in",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "name": "",
        "topic": "daily/bedtime",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 340,
        "wires": [
            [
                "0b56b8c38bfb3aba"
            ]
        ]
    },
    {
        "id": "9dbd2d38d6ceec1c",
        "type": "mqtt in",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "name": "",
        "topic": "timer/time",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "1c34f9e60db8ac44"
            ]
        ]
    },
    {
        "id": "fd0c567c69283354",
        "type": "ui_text",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "group": "62fb9b437a9f6bcf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Theme",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "4001688ace8380e3",
        "type": "ui_text",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "group": "62fb9b437a9f6bcf",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sunrise",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "e5d69dd29b21c14c",
        "type": "ui_text",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "group": "62fb9b437a9f6bcf",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sunset",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "518d5b3b737fb2b7",
        "type": "ui_text",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "group": "62fb9b437a9f6bcf",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bedtime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "1c34f9e60db8ac44",
        "type": "ui_text",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "group": "62fb9b437a9f6bcf",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "a7cf1643a9332de2",
        "type": "link in",
        "z": "df241ac327af880e",
        "g": "06bdd60cce319536",
        "name": "locale string",
        "links": [],
        "x": 110,
        "y": 380,
        "wires": [
            [
                "3bf82acf8b05bc31"
            ]
        ],
        "l": true
    },
    {
        "id": "3bf82acf8b05bc31",
        "type": "function",
        "z": "df241ac327af880e",
        "g": "06bdd60cce319536",
        "name": "locale string",
        "func": "msg.payload = new Date(msg.payload).toLocaleString()\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 380,
        "wires": [
            [
                "1af506ce07ba6b16"
            ]
        ],
        "info": "Replace the timestamp in `msg.payload` with its localized string\nrepresentation."
    },
    {
        "id": "1af506ce07ba6b16",
        "type": "link out",
        "z": "df241ac327af880e",
        "g": "06bdd60cce319536",
        "name": "locale string",
        "mode": "return",
        "links": [],
        "x": 430,
        "y": 380,
        "wires": [],
        "l": true
    },
    {
        "id": "6293131f50765462",
        "type": "link call",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "name": "",
        "links": [
            "a7cf1643a9332de2"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 220,
        "wires": [
            [
                "4001688ace8380e3"
            ]
        ]
    },
    {
        "id": "18d43f9fefe9624c",
        "type": "link call",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "name": "",
        "links": [
            "a7cf1643a9332de2"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 280,
        "wires": [
            [
                "e5d69dd29b21c14c"
            ]
        ]
    },
    {
        "id": "0b56b8c38bfb3aba",
        "type": "link call",
        "z": "df241ac327af880e",
        "g": "09d28341f4c50b5b",
        "name": "",
        "links": [
            "a7cf1643a9332de2"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 340,
        "wires": [
            [
                "518d5b3b737fb2b7"
            ]
        ]
    },
    {
        "id": "43dededbad742ab8",
        "type": "link in",
        "z": "df241ac327af880e",
        "g": "06bdd60cce319536",
        "name": "stringify",
        "links": [],
        "x": 90,
        "y": 440,
        "wires": [
            [
                "749b3deee816e422"
            ]
        ],
        "l": true
    },
    {
        "id": "749b3deee816e422",
        "type": "function",
        "z": "df241ac327af880e",
        "g": "06bdd60cce319536",
        "name": "stringify",
        "func": "msg.now = new Date().toLocaleString()\nmsg.payload = JSON.stringify(msg.payload, undefined, 1)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 440,
        "wires": [
            [
                "b999ac0934b6f741"
            ]
        ]
    },
    {
        "id": "b999ac0934b6f741",
        "type": "template",
        "z": "df241ac327af880e",
        "g": "06bdd60cce319536",
        "name": "",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<div style=\"padding: 1em;\">\n        <p style=\"text-align: center;font-style: italic;\">{{now}}</p>\n        <p style=\"text-align: center; font-weight: bold;\">{{topic}}</p>\n        <pre>{{payload}}</pre>\n</div>",
        "output": "str",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "7a0af6f4a758942f"
            ]
        ]
    },
    {
        "id": "7a0af6f4a758942f",
        "type": "link out",
        "z": "df241ac327af880e",
        "g": "06bdd60cce319536",
        "name": "stringify",
        "mode": "return",
        "links": [],
        "x": 500,
        "y": 440,
        "wires": [],
        "l": true
    },
    {
        "id": "ec72f5d7972d5730",
        "type": "status",
        "z": "df241ac327af880e",
        "g": "414ede3ad60aa4f3",
        "name": "status: controls/refresh",
        "scope": [
            "94511d26864a6541"
        ],
        "x": 140,
        "y": 60,
        "wires": [
            [
                "20ea1d5e7618a150"
            ]
        ],
        "info": "Subscribe to status messages from the `mqtt out` node downstream."
    },
    {
        "id": "20ea1d5e7618a150",
        "type": "switch",
        "z": "df241ac327af880e",
        "g": "414ede3ad60aa4f3",
        "name": "node-red:common.status.connected",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "node-red:common.status.connected",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 60,
        "wires": [
            [
                "bceded3979bc03fa"
            ]
        ],
        "info": "Block unless `msg.status.text` indicates that the `mqtt out` node is\nconnected to the broker."
    },
    {
        "id": "bceded3979bc03fa",
        "type": "change",
        "z": "df241ac327af880e",
        "g": "414ede3ad60aa4f3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 60,
        "wires": [
            [
                "d2c7d3c26f6a94c9"
            ]
        ],
        "info": "Set `msg.payload` to the current timestamp so that the `ui_button` will\nbe triggered."
    },
    {
        "id": "94511d26864a6541",
        "type": "mqtt out",
        "z": "df241ac327af880e",
        "g": "414ede3ad60aa4f3",
        "name": "",
        "topic": "controls/refresh",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cebfc098dc83e835",
        "x": 1020,
        "y": 60,
        "wires": [],
        "info": "Broadcast a `controls/refresh` message using MQTT."
    },
    {
        "id": "6c1bf6f4cbe33db3",
        "type": "mqtt in",
        "z": "df241ac327af880e",
        "g": "dda52c5106fb8861",
        "name": "",
        "topic": "settings/bedtime",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "c7aad35be6d90342"
            ]
        ],
        "info": "Subscribe to `settings/bedtime` messages from the MQTT broker. See the\ndocumentation for the _Bedtime_ dashboard control for more information."
    },
    {
        "id": "c7aad35be6d90342",
        "type": "ui_dropdown",
        "z": "df241ac327af880e",
        "g": "dda52c5106fb8861",
        "name": "Bedtime Setting",
        "label": "Bedtime",
        "tooltip": "",
        "place": "Select option",
        "group": "ec2b1aad4d84307c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "9PM",
                "value": 21,
                "type": "num"
            },
            {
                "label": "10PM",
                "value": "22",
                "type": "str"
            },
            {
                "label": "11PM",
                "value": "23",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "settings/bedtime",
        "topicType": "str",
        "className": "",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "095ea8afc684110d"
            ]
        ],
        "info": "Allow a user to select 9PM, 10PM or 11PM as the base time for the value\nof the `daily/bedtime` event each day. See the documentation of the\n`function` node named `bedtime` for more information on how this\nsetting is used to calculate a random value for `daily/bedtime`."
    },
    {
        "id": "095ea8afc684110d",
        "type": "mqtt out",
        "z": "df241ac327af880e",
        "g": "dda52c5106fb8861",
        "name": "",
        "topic": "settings/bedtime",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cebfc098dc83e835",
        "x": 480,
        "y": 160,
        "wires": [],
        "info": "Send user interaction as an event message using MQTT."
    },
    {
        "id": "42bc590b4062807a",
        "type": "mqtt in",
        "z": "df241ac327af880e",
        "g": "dda52c5106fb8861",
        "name": "",
        "topic": "settings/shades",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "0b33271ac14c1ff6"
            ]
        ],
        "info": "Subscribe to `settings/shades` messages using MQTT."
    },
    {
        "id": "0b33271ac14c1ff6",
        "type": "ui_switch",
        "z": "df241ac327af880e",
        "g": "dda52c5106fb8861",
        "name": "",
        "label": "Enable Shades",
        "tooltip": "",
        "group": "ec2b1aad4d84307c",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "settings/shades",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "fc2ee8d91d1c42ab"
            ]
        ],
        "info": "Dashboard control to enable or disable window shades automation."
    },
    {
        "id": "fc2ee8d91d1c42ab",
        "type": "mqtt out",
        "z": "df241ac327af880e",
        "g": "dda52c5106fb8861",
        "name": "",
        "topic": "settings/shades",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cebfc098dc83e835",
        "x": 480,
        "y": 220,
        "wires": [],
        "info": "Send user interaction as an event message using MQTT."
    },
    {
        "id": "8df7e77f86099c14",
        "type": "mqtt in",
        "z": "df241ac327af880e",
        "g": "dda52c5106fb8861",
        "name": "",
        "topic": "settings/lighting",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "9e8493371584e638"
            ]
        ],
        "info": "Subscribe to `settings/lighting` messages using MQTT."
    },
    {
        "id": "9e8493371584e638",
        "type": "ui_switch",
        "z": "df241ac327af880e",
        "g": "dda52c5106fb8861",
        "name": "",
        "label": "Enable Lighting",
        "tooltip": "",
        "group": "ec2b1aad4d84307c",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "settings/lighting",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "621de2937093648a"
            ]
        ],
        "info": "Dashboard control to enable or disable lighting automation."
    },
    {
        "id": "621de2937093648a",
        "type": "mqtt out",
        "z": "df241ac327af880e",
        "g": "dda52c5106fb8861",
        "name": "",
        "topic": "settings/lighting",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cebfc098dc83e835",
        "x": 480,
        "y": 280,
        "wires": [],
        "info": "Send user interaction as an event message using MQTT."
    },
    {
        "id": "d2c7d3c26f6a94c9",
        "type": "ui_template",
        "z": "df241ac327af880e",
        "g": "414ede3ad60aa4f3",
        "group": "ec2b1aad4d84307c",
        "name": "Refresh Controls",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"margin: 0; position: relative; width: 100%; height: 100%;\">\n    <div style=\"margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);\">\n        <md-button style=\"display: inline-block;\" ng-click=\"send({ topic: 'controls/refresh', payload: true })\">\n            Refresh Controls\n        </md-button>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 60,
        "wires": [
            [
                "94511d26864a6541"
            ]
        ]
    },
    {
        "id": "b8e996d829493cf7",
        "type": "mqtt in",
        "z": "0b58b958ed2dda42",
        "g": "1858ee0bbe9b4418",
        "name": "",
        "topic": "settings/bedtime",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "2172861d6eca2d1c"
            ]
        ],
        "info": "Subscribe to `settings/bedtime` messages from the MQTT broker. See the\ndocumentation for the _Bedtime_ dashboard control for more information."
    },
    {
        "id": "aea41299ec309be7",
        "type": "inject",
        "z": "0b58b958ed2dda42",
        "g": "1858ee0bbe9b4418",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 01 * * *",
        "once": true,
        "onceDelay": "1",
        "topic": "daily",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "2172861d6eca2d1c"
            ]
        ],
        "info": "Send the current timestamp:\n\n1. At start up\n2. Each morning at 1:01AM"
    },
    {
        "id": "2172861d6eca2d1c",
        "type": "join",
        "z": "0b58b958ed2dda42",
        "g": "1858ee0bbe9b4418",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "ec4c72ab0b8b53ad",
                "cbcdf85a73052db5",
                "b42f1fba69cb70e0"
            ]
        ],
        "info": "Synchronize receipt of `daily/timestamp` and `settings/bedtime`\nmessages."
    },
    {
        "id": "ec4c72ab0b8b53ad",
        "type": "function",
        "z": "0b58b958ed2dda42",
        "g": "1858ee0bbe9b4418",
        "name": "theme",
        "func": "const date = new Date(msg.payload.daily)\nconst month = date.getMonth() + 1\nconst day = date.getDate()\n\nif ((month == 7) && (day <= 4)) {\n\n    msg.payload = 'tribal'\n\n} else if (month == 10) {\n\n    msg.payload = 'spooky'\n\n} else if (month == 12) {\n\n    msg.payload = 'jolly'\n\n} else {\n\n    msg.payload = 'standard'\n\n}\n\nnode.status({\n    text: msg.payload,\n    shape: 'dot',\n    fill: 'blue'\n})\n\nmsg.topic = 'daily/theme'\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "46ac71815281ccea"
            ]
        ],
        "inputLabels": [
            "daily"
        ],
        "outputLabels": [
            "theme"
        ],
        "info": "Set `msg.payload` to one of the _theme_ values, described below, and\n`msg.topic` to `daily/theme`.\n\n_Note that this `function` node is placed downstream of a `join` in\norder to delay sending MQTT messages until after the connection to the\nbroker has been established; the only input data on which this function\nactually relies comes from the `inject` node which fires once when\nflows start and then every morning at 1AM._\n\n# Input\n\n- timestamp in `msg.payload.daily`\n- all other `msg` properties are ignored\n\n# Output\n\n- `msg.topic` set to `daily/theme`\n- `msg.payload` set to one of the following strings, based on the\n  the timestamp from the input:\n\n| `msg.payload` | Description         |\n|---------------|---------------------|\n| `tribal`      | July 1 - 4          |\n| `spooky`      | Any day in October  |\n| `jolly`       | Any day in December |\n| `standard`    | Any other day       |"
    },
    {
        "id": "cbcdf85a73052db5",
        "type": "function",
        "z": "0b58b958ed2dda42",
        "g": "1858ee0bbe9b4418",
        "name": "sunrise | sunset",
        "func": "/*global suncalc*/\n\nconst LATITUDE = Number.parseFloat(env.get('LATITUDE'))\nconst LONGITUDE = Number.parseFloat(env.get('LONGITUDE'))\n\nconst sunrise = RED.util.cloneMessage(msg)\nconst sunset = RED.util.cloneMessage(msg)\nconst date = new Date(msg.payload.daily)\n\nconst times = suncalc.getTimes(\n    // work around bug in suncalc\n    new Date(\n        date.getFullYear(),\n        date.getMonth(),\n        date.getDate(),\n        1,\n        1\n    ),\n    LATITUDE,\n    LONGITUDE\n)\n\nsunrise.payload = times.sunrise.getTime()\nsunrise.topic = 'daily/sunrise'\nsunset.payload = times.sunset.getTime()\nsunset.topic = 'daily/sunset'\n\nconst status =\n    new Date(sunrise.payload).toLocaleTimeString() +\n    ' | ' +\n    new Date(sunset.payload).toLocaleTimeString()\n\nnode.status({\n    text: status,\n    shape: 'dot',\n    fill: 'blue'\n})\n\nreturn [sunrise, sunset]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "suncalc",
                "module": "suncalc"
            }
        ],
        "x": 520,
        "y": 220,
        "wires": [
            [
                "46ac71815281ccea"
            ],
            [
                "46ac71815281ccea"
            ]
        ],
        "inputLabels": [
            "daily"
        ],
        "outputLabels": [
            "sunrise",
            "sunset"
        ],
        "info": "Use the [suncalc](https://www.npmjs.com/package/suncalc) package to\nobtain the times at which the sun rises and sets on a given day.\n\n_Note that this `function` node is placed downstream of a `join` in\norder to delay sending MQTT messages until after the connection to the\nbroker has been established; the only input data on which this function\nactually relies comes from the `inject` node which fires once when\nflows start and then every morning at 1AM._\n\n_Note also that this assumes:_\n\n_- `function` nodes are allowed to dynamically load the_ suncalc\n   _package_\n\n_- `${LATITUDE}` and `${LONGITUDE}` environment variables contain the\n  georgraphical coordinates to pass to `suncalc.getTimes()`_\n\n# Input\n\n- timestamp in `msg.payload.daily`\n- all other `msg` properties are ignored\n\n# Output\n\n1. sunrise\n   - `msg.payload` is the timestamp for sunrise as reported by _suncalc_\n   - `msg.topic` is `daily/sunrise`\n2. sunset\n   - `msg.payload` is the timestamp for sunset as reported by _suncalc_\n   - `msg.topic` is `daily/sunset`\n"
    },
    {
        "id": "b42f1fba69cb70e0",
        "type": "function",
        "z": "0b58b958ed2dda42",
        "g": "1858ee0bbe9b4418",
        "name": "bedtime",
        "func": "const MILLIS_PER_SECOND = 1000\nconst MILLIS_PER_MINUTE = 60 * MILLIS_PER_SECOND\nconst MILLIS_PER_HALF_HOUR = 30 * MILLIS_PER_MINUTE\nconst MILLIS_PER_HOUR = 2 * MILLIS_PER_HALF_HOUR\n\nconst date = new Date(msg.payload.daily)\nconst offset = MILLIS_PER_HALF_HOUR - Math.floor(Math.random() * MILLIS_PER_HOUR)\nconst time = new Date(\n    date.getFullYear(),\n    date.getMonth(),\n    date.getDate(),\n    msg.payload['settings/bedtime']\n).getTime()\n\nmsg.payload = time + offset\n\nnode.status({\n    text: new Date(msg.payload).toLocaleTimeString(),\n    shape: 'dot',\n    fill: 'blue'\n})\n\nmsg.topic = 'daily/bedtime'\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "46ac71815281ccea"
            ]
        ],
        "outputLabels": [
            "bedtime"
        ],
        "info": "Calculate a slightly randomized timestamp based on the values of\n`msg.payload.daily` and `msg.payload.settings/bedtime` as described\nbelow.\n\n# Input\n \n - timestamp for the current day in `msg.payload.daily`\n - value from the `Bedtime` dashboard control in\n   `msg.payload.settings/bedtime`\n- all other `msg` properties are ignored\n\n# Output\n\n- `msg.topic` set to `daily/bedtime`\n- `msg.payload` set to a timestamp as described below\n\n# Details\n\nThis `function` node receives input from a `join` node that combines the\ntimestamp for a given day with a value selected by use of a dropdown\ncontrol on the dashboard. It calculates a random offset of plus or minus\n30 minutes, adds that to the hour specified by the received value in\n`msg.payload.settings/bedtime` and calculates the timestamp for that\nhour on the day specified by the value received in `msg.payload.daily`,\nplacing it in `msg.payload` in the output message.\n"
    },
    {
        "id": "bf9f3e514e81d58c",
        "type": "mqtt out",
        "z": "0b58b958ed2dda42",
        "g": "1858ee0bbe9b4418",
        "name": "daily/+",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cebfc098dc83e835",
        "x": 830,
        "y": 220,
        "wires": [],
        "info": "Broadcast daily event messages using MQTT based on the values of their\n`msg.payload` and `msg.topic` properties."
    },
    {
        "id": "46ac71815281ccea",
        "type": "rbe",
        "z": "0b58b958ed2dda42",
        "g": "1858ee0bbe9b4418",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "bf9f3e514e81d58c"
            ]
        ],
        "info": "Block messages unless `msg.payload` changes, treating each `msg.topic`\nindependently."
    },
    {
        "id": "ce36e830ccb196af",
        "type": "mqtt out",
        "z": "0b58b958ed2dda42",
        "g": "1afeb43be3175917",
        "name": "",
        "topic": "timer/time",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cebfc098dc83e835",
        "x": 800,
        "y": 420,
        "wires": [],
        "info": "Send the output of the `function` node named `time` as a `timer/time`\nevent using MQTT."
    },
    {
        "id": "449c4612546c24a3",
        "type": "function",
        "z": "0b58b958ed2dda42",
        "g": "1afeb43be3175917",
        "name": "time",
        "func": "/*global suncalc*/\n\nconst LATITUDE = Number.parseFloat(env.get('LATITUDE'))\nconst LONGITUDE = Number.parseFloat(env.get('LONGITUDE'))\n\nconst now = msg.payload.now\nconst sunrise = msg.payload['daily/sunrise']\nconst sunset = msg.payload['daily/sunset']\nconst bedtime = msg.payload['daily/bedtime']\nconst position = suncalc.getPosition(new Date(now), LATITUDE, LONGITUDE)\n\nif ((now < sunrise) || (now >= bedtime)) {\n\n    msg.payload = 'night'\n\n} else if (now > sunset) {\n\n    msg.payload = 'evening'\n\n} else if (position.altitude > 0.8) {\n\n    msg.payload = 'midday'\n\n} else if (position.azimuth > 0) {\n\n    msg.payload = 'afternoon'\n\n} else {\n\n    msg.payload = 'morning'\n\n}\n\nnode.status({\n    text: msg.payload,\n    shape: 'dot',\n    fill: 'blue'\n})\n\nmsg.topic = 'timer/time'\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "suncalc",
                "module": "suncalc"
            }
        ],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "f901e2f89786bb1d"
            ]
        ],
        "info": "Use the [suncalc](https://www.npmjs.com/package/suncalc) package to\ncalculate a _time_ value, described below, based on the position of\nthe sun.\n\n_Note that this assumes:_\n\n_- `function` nodes are allowed to dynamically load the_ suncalc\n   _package_\n\n_- `${LATITUDE}` and `${LONGITUDE}` environment variables contain the\n  georgraphical coordinates to pass to `suncalc.getPosition()`_\n\n# Input\n\n- timestamp for current minute in `msg.payload.now`\n- timestamp for sunrise in `msg.payload.daily/sunrise`\n- timestamp for sunset in `msg.payload.daily/sunset`\n- timestamp for bedtime in `msg.payload.daily/bedtime`\n- all other `msg` properties are ignored\n\n_See the documentation for the `function` node named `bedtime` for\ninformation on how `msg.payload.daily/bedtime` is calculated._\n\n# Output\n\n- `msg.topic` is `timer/time`\n- `msg.payload` is one of the following strings:\n\n| `msg.payload` | Description                                                                                                                                                             |\n|---------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `morning`     | Sunrise to the time at which either the sun is high enough so as not to shine directly into any windows or the sun is no longer shining on the eastern side of the home |\n| `midday`      | Time during which the sun is high enough so as not to shine directly into any windows                                                                                   |\n| `afternoon`   | Time at which the sun is shining on the western side of the home and low enough to shine directly into windows                                                          |\n| `evening`     | Sunset to bedtime                                                                                                                                                       |\n| `night`       | Bedtime to sunrise of the next day                                                                                                                                      |\n\n# Details\n\nThe \"time at which the is high enough so as not to shine directly into\nany windows\" is determined empirically for a home based on its location,\nelevation, orientation, size of awnings or roof overhang and so on.\nBased on that value and the values of `${LATITUDE}` and `${LONGITUDE}`,\nthe sun may not reach such a height on any given day. No messages with\n`msg.payload` set to `midday` will be sent on such occasions.\n\nSimilarly, this function assumes that sunrise and sunset will occur\non the same day and that both will always precede bedtime. These\nassumptions might be violated at certain times of year for extreme\nvalues of `${LATITUDE}`."
    },
    {
        "id": "795ddbf1ece0c9e6",
        "type": "join",
        "z": "0b58b958ed2dda42",
        "g": "1afeb43be3175917",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "449c4612546c24a3"
            ]
        ],
        "info": "Synchronize the daily events with the ones sent every minute."
    },
    {
        "id": "dde26fd5b0242b48",
        "type": "rbe",
        "z": "0b58b958ed2dda42",
        "g": "1afeb43be3175917",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "795ddbf1ece0c9e6"
            ]
        ],
        "info": "Block messages unless `msg.payload` changes, treating each `msg.topic`\nindependently."
    },
    {
        "id": "91c56df5c885cf9f",
        "type": "mqtt in",
        "z": "0b58b958ed2dda42",
        "g": "1afeb43be3175917",
        "name": "",
        "topic": "daily/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 460,
        "wires": [
            [
                "dde26fd5b0242b48"
            ]
        ],
        "info": "Subscribe to all of the daily event messages sent via MQTT."
    },
    {
        "id": "f5730fdb6bc0272f",
        "type": "inject",
        "z": "0b58b958ed2dda42",
        "g": "1afeb43be3175917",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "now",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "dde26fd5b0242b48"
            ]
        ],
        "info": "Send a message:\n\n1. At start up\n2. Every 60 seconds thereafter\n\nEach such message will have `msg.payload` set to the timestamp for the\nmoment it was sent and `msg.topic` set to `now`."
    },
    {
        "id": "42dab2bfc218b7c3",
        "type": "comment",
        "z": "0b58b958ed2dda42",
        "name": "https://www.npmjs.com/package/suncalc",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "935f5813b09efe70",
        "type": "comment",
        "z": "0b58b958ed2dda42",
        "name": "assumes ${LATITUDE} and ${LONGITUDE} are defined",
        "info": "",
        "x": 220,
        "y": 40,
        "wires": []
    },
    {
        "id": "f901e2f89786bb1d",
        "type": "rbe",
        "z": "0b58b958ed2dda42",
        "g": "1afeb43be3175917",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "ce36e830ccb196af"
            ]
        ],
        "info": "Block messages unless `msg.payload` changes, without regard to\n`msg.topic`."
    },
    {
        "id": "aae17e5a30471de5",
        "type": "switch",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "timer/time",
        "property": "payload.timer/time",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "morning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "evening",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "night",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 780,
        "y": 460,
        "wires": [
            [
                "870608ff910feb60"
            ],
            [
                "0e592700939a92aa"
            ],
            [
                "353cfc8157d414e1"
            ]
        ],
        "info": "Trigger window shades automation for the `time` specified by the value\nof `msg.payload.timer/time`."
    },
    {
        "id": "0e592700939a92aa",
        "type": "switch",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "daily/theme",
        "property": "payload.daily/theme",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tribal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "spooky",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "jolly",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 990,
        "y": 460,
        "wires": [
            [
                "1cb0a0826e19ac25"
            ],
            [
                "8b2870e325e61ea1"
            ],
            [
                "541a0eff9f0235b7"
            ],
            [
                "4c3ffaa9eed2fd35"
            ]
        ],
        "info": "Trigger evening lighting automation for the specified _theme_."
    },
    {
        "id": "ab22f57d983c0a67",
        "type": "switch",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "settings/lighting",
        "property": "payload.settings/lighting",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 460,
        "wires": [
            [
                "aae17e5a30471de5"
            ]
        ]
    },
    {
        "id": "870608ff910feb60",
        "type": "subflow:450f4de3c4f73b40",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "Morning",
        "env": [
            {
                "name": "COMMANDS",
                "value": "[{\"topic\":\"resource/grouped_light/bad8480b-b404-42d1-a9e7-a4a69f400971\",\"payload\":{\"on\":{\"on\":false}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"},{\"topic\":\"resource/grouped_light/9c1c7975-2f47-4552-bac8-c19b643cd678\",\"payload\":{\"on\":{\"on\":false}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"},{\"topic\":\"resource/grouped_light/aea74e74-d544-4d08-ad71-3b6665045256\",\"payload\":{\"on\":{\"on\":false}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"}]",
                "type": "json"
            },
            {
                "name": "GROUPS",
                "value": "",
                "type": "json"
            },
            {
                "name": "SCENES",
                "value": "",
                "type": "json"
            }
        ],
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "353cfc8157d414e1",
        "type": "subflow:450f4de3c4f73b40",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "Night",
        "env": [
            {
                "name": "COMMANDS",
                "value": "[{\"topic\":\"resource/grouped_light/bad8480b-b404-42d1-a9e7-a4a69f400971\",\"payload\":{\"on\":{\"on\":false}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"},{\"topic\":\"resource/scene/5d507fb6-89f6-459a-b327-0fffd0c6dc48\",\"payload\":{\"recall\":{\"action\":\"active\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"},{\"topic\":\"resource/scene/48c39b9f-1599-4a5c-b7f6-bad6cad4029a\",\"payload\":{\"recall\":{\"action\":\"active\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"}]",
                "type": "json"
            },
            {
                "name": "GROUPS",
                "value": "",
                "type": "json"
            },
            {
                "name": "SCENES",
                "value": "",
                "type": "json"
            }
        ],
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "1cb0a0826e19ac25",
        "type": "subflow:450f4de3c4f73b40",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "Tribal",
        "env": [
            {
                "name": "COMMANDS",
                "value": "[{\"topic\":\"resource/scene/c4681d32-3368-43cd-9cf1-436132521068\",\"payload\":{\"recall\":{\"action\":\"dynamic_palette\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"},{\"topic\":\"resource/scene/6eff0801-01e2-4803-9840-e31c06cee079\",\"payload\":{\"recall\":{\"action\":\"dynamic_palette\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"}]",
                "type": "json"
            },
            {
                "name": "GROUPS",
                "value": "",
                "type": "json"
            },
            {
                "name": "SCENES",
                "value": "",
                "type": "json"
            }
        ],
        "x": 1190,
        "y": 360,
        "wires": []
    },
    {
        "id": "8b2870e325e61ea1",
        "type": "subflow:450f4de3c4f73b40",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "Spooky",
        "env": [
            {
                "name": "COMMANDS",
                "value": "[{\"topic\":\"resource/scene/70a0a8a6-b4b7-4b24-a9cf-0ecea0f359cc\",\"payload\":{\"recall\":{\"action\":\"dynamic_palette\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"},{\"topic\":\"resource/scene/6eff0801-01e2-4803-9840-e31c06cee079\",\"payload\":{\"recall\":{\"action\":\"dynamic_palette\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"}]",
                "type": "json"
            },
            {
                "name": "GROUPS",
                "value": "",
                "type": "json"
            },
            {
                "name": "SCENES",
                "value": "",
                "type": "json"
            }
        ],
        "x": 1200,
        "y": 420,
        "wires": []
    },
    {
        "id": "541a0eff9f0235b7",
        "type": "subflow:450f4de3c4f73b40",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "Jolly",
        "env": [
            {
                "name": "COMMANDS",
                "value": "[{\"topic\":\"resource/scene/3ac45cbb-21c0-4c2f-8037-c40345537ce2\",\"payload\":{\"recall\":{\"action\":\"dynamic_palette\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"},{\"topic\":\"resource/scene/12571f23-7714-4b47-8e75-a3040389b788\",\"payload\":{\"recall\":{\"action\":\"dynamic_palette\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"}]",
                "type": "json"
            },
            {
                "name": "GROUPS",
                "value": "",
                "type": "json"
            },
            {
                "name": "SCENES",
                "value": "",
                "type": "json"
            }
        ],
        "x": 1190,
        "y": 480,
        "wires": []
    },
    {
        "id": "4c3ffaa9eed2fd35",
        "type": "subflow:450f4de3c4f73b40",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "Standard",
        "env": [
            {
                "name": "COMMANDS",
                "value": "[{\"topic\":\"resource/scene/6eff0801-01e2-4803-9840-e31c06cee079\",\"payload\":{\"recall\":{\"action\":\"dynamic_palette\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"},{\"topic\":\"resource/scene/9b6935e2-f8ed-4f91-83a2-2bff1850da99\",\"payload\":{\"recall\":{\"action\":\"dynamic_palette\"}},\"method\":\"PUT\",\"target\":\"send to ground floor hue\"}]",
                "type": "json"
            },
            {
                "name": "GROUPS",
                "value": "",
                "type": "json"
            },
            {
                "name": "SCENES",
                "value": "",
                "type": "json"
            }
        ],
        "x": 1200,
        "y": 540,
        "wires": []
    },
    {
        "id": "7c026a08d935f006",
        "type": "link call",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "",
        "links": [
            "43dededbad742ab8"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "3ee797fa67f9a62f"
            ]
        ]
    },
    {
        "id": "3ee797fa67f9a62f",
        "type": "ui_template",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "group": "62fb9b437a9f6bcf",
        "name": "Monitor Lighting Automation",
        "order": 10,
        "width": "6",
        "height": "4",
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "36a9058ec89dc970",
        "type": "mqtt in",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "",
        "topic": "settings/lighting",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "788002ed81a9f5eb"
            ]
        ]
    },
    {
        "id": "4f71fe46ad187ae6",
        "type": "mqtt in",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "",
        "topic": "timer/time",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "788002ed81a9f5eb"
            ]
        ]
    },
    {
        "id": "48e8d9fce3eab7a3",
        "type": "mqtt in",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "",
        "topic": "daily/theme",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "788002ed81a9f5eb"
            ]
        ]
    },
    {
        "id": "650af68abc81e272",
        "type": "rbe",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "7c026a08d935f006",
                "ab22f57d983c0a67"
            ]
        ]
    },
    {
        "id": "788002ed81a9f5eb",
        "type": "join",
        "z": "448b73182a92925c",
        "g": "60e4d1c056ed3a0c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "650af68abc81e272"
            ]
        ]
    },
    {
        "id": "37bac7a6b658ade4",
        "type": "switch",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "timer/time",
        "property": "payload.timer/time",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "morning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "midday",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "afternoon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "night",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "6a9ac472018c38ea"
            ],
            [
                "c8c9c1f0d8b62902"
            ],
            [
                "9e961b1409432775"
            ],
            [
                "db4f7c2c93cd8f30"
            ]
        ],
        "info": "Trigger window shades automation for the `time` specified by the value\nof `msg.payload`."
    },
    {
        "id": "6a9ac472018c38ea",
        "type": "change",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "Morning Shades",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "56393",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 120,
        "wires": [
            [
                "f517b9c953846565"
            ]
        ],
        "info": "Set `msg.payload` to the scene id for _Morning Shades_."
    },
    {
        "id": "c8c9c1f0d8b62902",
        "type": "change",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "Open All Shades",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "7307",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 160,
        "wires": [
            [
                "f517b9c953846565"
            ]
        ],
        "info": "Set `msg.payload` to the scene id for _Open All Shades_."
    },
    {
        "id": "9e961b1409432775",
        "type": "change",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "Afternoon Shades",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "42686",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 200,
        "wires": [
            [
                "f517b9c953846565"
            ]
        ],
        "info": "Set `msg.payload` to the scene id for _Afternoon Shades_."
    },
    {
        "id": "db4f7c2c93cd8f30",
        "type": "change",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "Close All Shades",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "15208",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 240,
        "wires": [
            [
                "f517b9c953846565"
            ]
        ],
        "info": "Set `msg.payload` to the scene id for _Close All Shades_."
    },
    {
        "id": "ec26adec2aa94c40",
        "type": "switch",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "settings/shades",
        "property": "payload.settings/shades",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "37bac7a6b658ade4"
            ]
        ]
    },
    {
        "id": "f517b9c953846565",
        "type": "link call",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "",
        "links": [
            "aed6009fd524f819"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1210,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "92c3731c8de659b7",
        "type": "link call",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "",
        "links": [
            "43dededbad742ab8"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "8157178701101806"
            ]
        ]
    },
    {
        "id": "8157178701101806",
        "type": "ui_template",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "group": "62fb9b437a9f6bcf",
        "name": "Monitor Shades Automation",
        "order": 8,
        "width": "6",
        "height": "4",
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "0862949d83e8b2e4",
        "type": "mqtt in",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "",
        "topic": "settings/shades",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "6184212dd8e32e40"
            ]
        ]
    },
    {
        "id": "f16f4fda7c0b0f7a",
        "type": "mqtt in",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "",
        "topic": "timer/time",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "6184212dd8e32e40"
            ]
        ]
    },
    {
        "id": "6184212dd8e32e40",
        "type": "join",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "0dd52d2dccf3d476"
            ]
        ]
    },
    {
        "id": "0dd52d2dccf3d476",
        "type": "rbe",
        "z": "448b73182a92925c",
        "g": "5e4f33ee9bb4435b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "ec26adec2aa94c40",
                "92c3731c8de659b7"
            ]
        ]
    },
    {
        "id": "70e42b6637f4c865",
        "type": "delay",
        "z": "dcb190a34f9985d0",
        "g": "eaaca1e226cc9251",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": true,
        "outputs": 1,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "413305fe8cf8bc16"
            ]
        ],
        "info": "Limit the rate at which messages are sent to the PowerView hub to 1 per\nsecond."
    },
    {
        "id": "413305fe8cf8bc16",
        "type": "http request",
        "z": "dcb190a34f9985d0",
        "g": "eaaca1e226cc9251",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "3b9aea255e25c86d",
                "450c11f088a3f9ee"
            ]
        ],
        "info": "Send `msg.url` as a `GET` request to the PowerView hub."
    },
    {
        "id": "3b9aea255e25c86d",
        "type": "function",
        "z": "dcb190a34f9985d0",
        "g": "eaaca1e226cc9251",
        "name": "validate",
        "func": "let fill = 'green'\n\ntry {\n\n    if ((typeof msg.statusCode) != 'number') {\n\n        fill = 'red'\n        return msg\n\n    }\n\n    if ((msg.statusCode < 200) || (msg.statusCode >= 300)) {\n\n        fill = 'red'\n        return msg\n\n    }\n\n    if (msg.statusCode != 200) {\n\n        fill = 'yellow'\n\n    }\n\n    return null\n\n} finally {\n\n    node.status({\n        text: msg.statusCode,\n        shape: 'dot',\n        fill: fill\n    })\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "e0ad652b11e93160",
                "d27eec8b029c5bd5"
            ]
        ],
        "outputLabels": [
            "success"
        ],
        "info": "Block unless the response indicates an error occurred."
    },
    {
        "id": "450c11f088a3f9ee",
        "type": "link out",
        "z": "dcb190a34f9985d0",
        "g": "eaaca1e226cc9251",
        "name": "powerview response",
        "mode": "return",
        "links": [],
        "x": 700,
        "y": 160,
        "wires": [],
        "l": true
    },
    {
        "id": "a250d71416af8250",
        "type": "link in",
        "z": "dcb190a34f9985d0",
        "g": "eaaca1e226cc9251",
        "name": "send to powerview",
        "links": [],
        "x": 130,
        "y": 220,
        "wires": [
            [
                "70e42b6637f4c865"
            ]
        ],
        "l": true
    },
    {
        "id": "57c39b659f421513",
        "type": "mqtt in",
        "z": "dcb190a34f9985d0",
        "g": "74348749d23b9082",
        "name": "",
        "topic": "controls/refresh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cebfc098dc83e835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "02eec7feccc1567d",
                "07a492e2d29b5dd3"
            ]
        ],
        "info": "Subscribe to `controls/refresh` messages using MQTT."
    },
    {
        "id": "9b22e1e38e67938b",
        "type": "comment",
        "z": "dcb190a34f9985d0",
        "name": "https://motorisation.hde.nl/hd/powerview/general-guides/API/",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "e685110a1eb864fd",
        "type": "comment",
        "z": "dcb190a34f9985d0",
        "name": "assumes ${POWERVIEW_ADDRESS} is defined",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "aed6009fd524f819",
        "type": "link in",
        "z": "dcb190a34f9985d0",
        "g": "9cf0457b813ca743",
        "name": "activate powerview scene",
        "links": [],
        "x": 150,
        "y": 420,
        "wires": [
            [
                "34eaa776ddc24669"
            ]
        ],
        "l": true,
        "info": "// nrlint align-to-grid:off\n"
    },
    {
        "id": "34eaa776ddc24669",
        "type": "change",
        "z": "dcb190a34f9985d0",
        "g": "9cf0457b813ca743",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'http://' & $env('POWERVIEW_ADDRESS') & '/api/scenes?sceneId=' & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "2bf099ec37e84bbc"
            ]
        ],
        "info": "Set `msg.url` to the URL with query string to activate the scene\nspecified by `msg.payload` using the IP address specified by the\nenvironment variable named `POWERVIEW_ADDRESS`."
    },
    {
        "id": "2bf099ec37e84bbc",
        "type": "link call",
        "z": "dcb190a34f9985d0",
        "g": "9cf0457b813ca743",
        "name": "",
        "links": [
            "a250d71416af8250"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "9b5a655543db6ec5"
            ]
        ]
    },
    {
        "id": "d27eec8b029c5bd5",
        "type": "function",
        "z": "dcb190a34f9985d0",
        "g": "eaaca1e226cc9251",
        "name": "stringify",
        "func": "msg.payload = JSON.stringify(msg, undefined, 1)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 240,
        "wires": [
            [
                "9f3e418cab152ae3"
            ]
        ],
        "info": "Pretty-print `msg.payload`."
    },
    {
        "id": "9f3e418cab152ae3",
        "type": "template",
        "z": "dcb190a34f9985d0",
        "g": "eaaca1e226cc9251",
        "name": "<pre>",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<div>\n    <pre>{{payload}}</pre>\n</div>",
        "output": "str",
        "x": 950,
        "y": 240,
        "wires": [
            [
                "1b3072d1d7c8560b"
            ]
        ],
        "info": "Wrap `msg.payload` in HTML."
    },
    {
        "id": "1b3072d1d7c8560b",
        "type": "ui_toast",
        "z": "dcb190a34f9985d0",
        "g": "eaaca1e226cc9251",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1090,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e0ad652b11e93160",
        "type": "debug",
        "z": "dcb190a34f9985d0",
        "g": "eaaca1e226cc9251",
        "name": "powerview error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "9b5a655543db6ec5",
        "type": "link out",
        "z": "dcb190a34f9985d0",
        "g": "9cf0457b813ca743",
        "name": "powerview response",
        "mode": "return",
        "links": [],
        "x": 740,
        "y": 420,
        "wires": [],
        "l": true
    },
    {
        "id": "de8273a5bd63e29f",
        "type": "function",
        "z": "dcb190a34f9985d0",
        "g": "74348749d23b9082",
        "name": "powerview model",
        "func": "msg.dashboard = []\n\nfunction findScenes(roomId) {\n\n    const scenes = []\n\n    for (const scene of msg.payload.scenes) {\n\n        if (scene.roomId == roomId) {\n\n            scenes.push(scene)\n\n        }\n    }\n\n    return scenes.sort((a, b) => {\n        return a.name.localeCompare(b.name)\n    })\n}\n\nfor (const room of msg.payload.rooms) {\n\n    const scenes = findScenes(room.id)\n\n    if (scenes.length > 0) {\n\n        const roomScenes = []\n\n        for (const scene of scenes) {\n\n            roomScenes.push({\n                sceneName: scene.name,\n                sceneId: scene.id\n            })\n        }\n\n        msg.dashboard.push({\n            roomName: room.name,\n            roomId: room.roomId,\n            roomScenes: roomScenes\n        })\n    }\n}\n\nmsg.dashboard = msg.dashboard.sort((a, b) => {\n    return a.roomName.localeCompare(b.roomName)\n})\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 560,
        "wires": [
            [
                "74c9401c93a5c79f",
                "ef07dd563fbd8f3f"
            ]
        ],
        "info": "Format `rooms` and `scenes` metadata into a combined data structure\nsuitable for use with a `template` node to dynamically create dashboard\ncontrols."
    },
    {
        "id": "eb7123132bce19c7",
        "type": "join",
        "z": "dcb190a34f9985d0",
        "g": "74348749d23b9082",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 470,
        "y": 560,
        "wires": [
            [
                "de8273a5bd63e29f"
            ]
        ],
        "info": "Join messages containing `rooms` and `scenes` metadata."
    },
    {
        "id": "74c9401c93a5c79f",
        "type": "ui_template",
        "z": "dcb190a34f9985d0",
        "g": "74348749d23b9082",
        "group": "bad6261ac75df85d",
        "name": "Shade Controls",
        "order": 2,
        "width": "6",
        "height": "7",
        "format": "<div style=\"text-align: center;\">\n    <div ng-repeat=\"room in msg.dashboard\">\n        <hr ng-if=\"$index > 0\">\n        <p style=\"font-style:italic\">{{room.roomName}}</p>\n        <md-button ng-repeat=\"scene in room.roomScenes\" style=\"margin: 1px;\"\n            ng-click=\"send({topic:scene.sceneName,payload:scene.sceneId})\">\n            {{scene.sceneName}}\n        </md-button>\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 600,
        "wires": [
            [
                "0bbc02279885e842"
            ]
        ],
        "info": "Display dynamically created controls on the dashboard."
    },
    {
        "id": "0bbc02279885e842",
        "type": "link call",
        "z": "dcb190a34f9985d0",
        "g": "74348749d23b9082",
        "name": "",
        "links": [
            "aed6009fd524f819"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1050,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "ef07dd563fbd8f3f",
        "type": "ui_template",
        "z": "dcb190a34f9985d0",
        "g": "74348749d23b9082",
        "group": "9c75181f2c63c679",
        "name": "Shades Metadata",
        "order": 2,
        "width": "6",
        "height": "12",
        "format": "<div style=\"padding: 1em;\">\n    <div ng-repeat=\"room in msg.dashboard\">\n        <hr ng-if=\"$index > 0\">\n        <p style=\"font-style: italic;\">{{room.roomName}}</p>\n        <p>{{room.roomId}}</p>\n        <ul>\n            <li ng-repeat=\"scene in room.roomScenes\">\n                <span style=\"font-style: italic;\">{{scene.sceneName}}</span>\n                <br>\n                {{scene.sceneId}}\n            </li>\n        </ul>\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 520,
        "wires": [
            []
        ],
        "info": "Display dynamically created controls on the dashboard."
    },
    {
        "id": "02eec7feccc1567d",
        "type": "subflow:699fdca4e881f8ec",
        "z": "dcb190a34f9985d0",
        "g": "74348749d23b9082",
        "name": "Get Scenes",
        "env": [
            {
                "name": "ADDRESS",
                "value": "POWERVIEW_ADDRESS",
                "type": "env"
            },
            {
                "name": "URI",
                "value": "/api/scenes/",
                "type": "str"
            },
            {
                "name": "TARGET",
                "value": "send to powerview",
                "type": "str"
            },
            {
                "name": "DATA",
                "value": "sceneData",
                "type": "str"
            },
            {
                "name": "TOPIC",
                "value": "scenes",
                "type": "str"
            },
            {
                "name": "ATTRIBUTE",
                "value": "sceneData",
                "type": "str"
            }
        ],
        "x": 310,
        "y": 520,
        "wires": [
            [
                "eb7123132bce19c7"
            ]
        ]
    },
    {
        "id": "07a492e2d29b5dd3",
        "type": "subflow:699fdca4e881f8ec",
        "z": "dcb190a34f9985d0",
        "g": "74348749d23b9082",
        "name": "Get Rooms",
        "env": [
            {
                "name": "ADDRESS",
                "value": "POWERVIEW_ADDRESS",
                "type": "env"
            },
            {
                "name": "URI",
                "value": "/api/rooms/",
                "type": "str"
            },
            {
                "name": "TARGET",
                "value": "send to powerview",
                "type": "str"
            },
            {
                "name": "DATA",
                "value": "roomData",
                "type": "str"
            },
            {
                "name": "TOPIC",
                "value": "rooms",
                "type": "str"
            },
            {
                "name": "ATTRIBUTE",
                "value": "sceneData",
                "type": "str"
            }
        ],
        "x": 310,
        "y": 600,
        "wires": [
            [
                "eb7123132bce19c7"
            ]
        ]
    },
    {
        "id": "168247b3760f4731",
        "type": "subflow:b903e4fc563d501c",
        "z": "0fd18332ac97df78",
        "g": "8669233b567d0ffd",
        "name": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "ADDRESS",
                "type": "env"
            },
            {
                "name": "KEY",
                "value": "KEY",
                "type": "env"
            },
            {
                "name": "TARGET",
                "value": "TARGET",
                "type": "env"
            },
            {
                "name": "TOPIC",
                "value": "TOPIC",
                "type": "env"
            }
        ],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "931a6bd2a9326bc9"
            ],
            [
                "ad2e21f102e390a2"
            ],
            [
                "312ab67152201b30"
            ]
        ]
    },
    {
        "id": "92ec777b2c9dab97",
        "type": "link in",
        "z": "0fd18332ac97df78",
        "g": "8669233b567d0ffd",
        "name": "send to ground floor hue",
        "links": [],
        "x": 150,
        "y": 280,
        "wires": [
            [
                "168247b3760f4731"
            ]
        ],
        "l": true
    },
    {
        "id": "1fa12506e964418e",
        "type": "subflow:b903e4fc563d501c",
        "z": "0fd18332ac97df78",
        "g": "4cb1a57dd2d304af",
        "name": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "ADDRESS",
                "type": "env"
            },
            {
                "name": "KEY",
                "value": "KEY",
                "type": "env"
            },
            {
                "name": "TARGET",
                "value": "TARGET",
                "type": "env"
            },
            {
                "name": "TOPIC",
                "value": "TOPIC",
                "type": "env"
            }
        ],
        "x": 330,
        "y": 560,
        "wires": [
            [
                "aede967dabee6adc"
            ],
            [
                "25d4e7cf8ec7c009"
            ],
            [
                "8dd90b562d6eb844"
            ]
        ]
    },
    {
        "id": "a85248aa620b8480",
        "type": "link in",
        "z": "0fd18332ac97df78",
        "g": "4cb1a57dd2d304af",
        "name": "send to basement hue",
        "links": [],
        "x": 140,
        "y": 560,
        "wires": [
            [
                "1fa12506e964418e"
            ]
        ],
        "l": true
    },
    {
        "id": "0a00d4bcdcfab828",
        "type": "comment",
        "z": "0fd18332ac97df78",
        "name": "https://github.com/parasaurolophus/create-hue-application-key",
        "info": "",
        "x": 240,
        "y": 80,
        "wires": []
    },
    {
        "id": "caacce91266c1b21",
        "type": "comment",
        "z": "0fd18332ac97df78",
        "name": "https://developers.meethue.com/develop/hue-api-v2/",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "a6c65b71fb515b1e",
        "type": "comment",
        "z": "0fd18332ac97df78",
        "g": "8669233b567d0ffd",
        "name": "assumes ${GROUND_FLOOR_HUE_ADDRESS} and ${GROUND_FLOOR_HUE_KEY} are defined",
        "info": "",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "603def2442931ab8",
        "type": "comment",
        "z": "0fd18332ac97df78",
        "g": "4cb1a57dd2d304af",
        "name": "assumes ${BASEMENT_HUE_ADDRESS} and ${BASEMENT_HUE_KEY} are defined",
        "info": "",
        "x": 340,
        "y": 440,
        "wires": []
    },
    {
        "id": "312ab67152201b30",
        "type": "ui_template",
        "z": "0fd18332ac97df78",
        "g": "8669233b567d0ffd",
        "group": "6865fdd160367b37",
        "name": "Ground Floor Hue readyState",
        "order": 1,
        "width": "6",
        "height": "1",
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "931a6bd2a9326bc9",
        "type": "ui_template",
        "z": "0fd18332ac97df78",
        "g": "8669233b567d0ffd",
        "group": "6865fdd160367b37",
        "name": "Ground Floor Hue Controls",
        "order": 2,
        "width": "6",
        "height": "26",
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "fbd24d6194c16d28"
            ]
        ]
    },
    {
        "id": "fbd24d6194c16d28",
        "type": "link call",
        "z": "0fd18332ac97df78",
        "g": "8669233b567d0ffd",
        "name": "",
        "links": [
            "92ec777b2c9dab97"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 850,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ad2e21f102e390a2",
        "type": "ui_template",
        "z": "0fd18332ac97df78",
        "g": "8669233b567d0ffd",
        "group": "572765d576e80a9f",
        "name": "Ground Floor Hue Metadata",
        "order": 1,
        "width": "6",
        "height": "85",
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8dd90b562d6eb844",
        "type": "ui_template",
        "z": "0fd18332ac97df78",
        "g": "4cb1a57dd2d304af",
        "group": "2b9d72b934dccd62",
        "name": "Basement Hue readyState",
        "order": 1,
        "width": "6",
        "height": "1",
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "aede967dabee6adc",
        "type": "ui_template",
        "z": "0fd18332ac97df78",
        "g": "4cb1a57dd2d304af",
        "group": "2b9d72b934dccd62",
        "name": "Basement Hue Controls",
        "order": 2,
        "width": "6",
        "height": "18",
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "0c55fa3270a1a251"
            ]
        ]
    },
    {
        "id": "0c55fa3270a1a251",
        "type": "link call",
        "z": "0fd18332ac97df78",
        "g": "4cb1a57dd2d304af",
        "name": "",
        "links": [
            "a85248aa620b8480"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 800,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "25d4e7cf8ec7c009",
        "type": "ui_template",
        "z": "0fd18332ac97df78",
        "g": "4cb1a57dd2d304af",
        "group": "b92e09ec548c4465",
        "name": "Basement Hue Metadata",
        "order": 1,
        "width": "6",
        "height": "47",
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 570,
        "y": 560,
        "wires": [
            []
        ]
    }
]